<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#/!">Index</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{allProjects[2].name}}</li>
    </ol>
</nav>


<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{allProjects[2].name}}
                    <small>
                        <span class="badge badge-secondary"># {{allProjects[2].rank}}</span>
                    </small>
                </h2>

                <br>

                <img src="{{allProjects[2].image}}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</section>

<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>
                    <span id='clickableAwesomeFont' href="{{allProjects[2].twitter}}">
                        <i class="fab fa-twitter"></i>
                    </span>
                    <span id='clickableAwesomeFont' href="{{allProjects[2].github}}">
                        <i class="fab fa-github"></i>
                    </span>
                </h3>
            </div>
        </div>
    </div>
</section>

<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>{{allProjects[2].info}}</p>

                <br>

                <p>{{allProjects[2].story}}</p>
            </div>
        </div>
    </div>
</section>

<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <small>* NOTE the rating system is not yet functional (current rating:
                    <strong>{{allProjects[2].rating}}</strong>)</small>
                <h4>
                    <span id='clickableAwesomeFont' href="#">
                        <i class="fas fa-star"></i>
                    </span>
                    <span id='clickableAwesomeFont' href="#">
                        <i class="fas fa-star"></i>
                    </span>
                    <span id='clickableAwesomeFont' href="#">
                        <i class="fas fa-star"></i>
                    </span>
                    <span id='clickableAwesomeFont' href="#">
                        <i class="fas fa-star"></i>
                    </span>
                    <span id='clickableAwesomeFont' href="#">
                        <i class="fas fa-star-half"></i>
                    </span>
                </h4>

                <br>

                <small>
                    <p>5 Stars</p>
                    <div class="progress">
                        <div class="progress-bar bg-dark" role="progressbar" style="width: 10%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>4 Stars</p>
                    <div class="progress">
                        <div class="progress-bar bg-dark" role="progressbar" style="width: 63%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>3 Stars</p>
                    <div class="progress">
                        <div class="progress-bar bg-dark" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>2 Stars</p>
                    <div class="progress">
                        <div class="progress-bar bg-dark" role="progressbar" style="width: 5%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>1 Stars</p>
                    <div class="progress">
                        <div class="progress-bar bg-dark" role="progressbar" style="width: 2%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </small>
            </div>
        </div>
    </div>
</section>

<br>
<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="{{allProjects[2].website}}" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Go to website</a>
            </div>
        </div>
    </div>
</section>