<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/!">Index</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{allProjects[1].name}}</li>
    </ol>
</nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{allProjects[1].name}}</h2>
            </div>
        </div>
    </div>
</section>

<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{allProjects[1].image[0]}}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</section>

<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>{{allProjects[1].info[0]}}</p>
            </div>
        </div>
    </div>
</section>

<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{allProjects[1].image[1]}}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</section>

<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>{{allProjects[1].info[1]}}</p>
            </div>
        </div>
    </div>
</section>

<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{allProjects[1].image[2]}}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</section>

<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>{{allProjects[1].info[2]}}</p>
            </div>
        </div>
    </div>
</section>

<br>

<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h4>Social media</h4>
            </div>
        </div>
    </div>
</section>

<ul class="nav flex-column text-center">
    <li class="nav-item">
        <a class="nav-link" href="{{allProjects[1].social_media[0]}}">{{allProjects[1].social_media[0]}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{allProjects[1].social_media[1]}}">{{allProjects[1].social_media[1]}}</a>
    </li>
</ul>

<br>
<br>


<section>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="{{allProjects[1].website}}" class="btn btn-dark" role="button" aria-pressed="true">Go to website</a>
            </div>
        </div>
    </div>
</section>